<div class="matero-row" fxLayout="row wrap">
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-lg="33" fxFlex.gt-xs="33" fxFlex="100">
    <mat-card>
      <mat-card-title class="f-s-12 f-w-100">asdasd</mat-card-title>  <!-- Statistics -->
      <mat-card-content>
        <iframe #iframe width="450" height="200" frameborder="0"></iframe>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-lg="33" fxFlex.gt-xs="33" fxFlex="100">
    <mat-card>
      <mat-card-title class="f-s-12 f-w-100">asdasd</mat-card-title>  <!-- Statistics -->
      <mat-card-content>
        <iframe #iframe width="450" height="200" frameborder="0"></iframe>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="matero-row" fxLayout="row wrap">
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-lg="33" fxFlex.gt-xs="33" fxFlex="100">
    <mat-card>
      <mat-card-title class="f-s-12 f-w-100">asdasd</mat-card-title>  <!-- Statistics -->
      <mat-card-content>
        <iframe #iframe width="450" height="200" frameborder="0"></iframe>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-lg="33" fxFlex.gt-xs="33" fxFlex="100">
    <mat-card>
      <mat-card-title class="f-s-12 f-w-100">asdasd</mat-card-title>  <!-- Statistics -->
      <mat-card-content>
        <iframe #iframe width="450" height="200" frameborder="0"></iframe>

      </mat-card-content>
    </mat-card>
  </div>
</div>
