.entities-list-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}


.p-datatable .p-sortable-column.p-highlight:hover {
  background: none !important;
}
