<page-header class="p-t-32 p-b-48 m-b--24 bg-gray-900"
             title="Usage" hideBreadcrumb>
</page-header>
<div fxLayout="row wrap" style="background-color: #212121 !important" class="matero-row">
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="33"  fxFlex.gt-lg="33" fxFlex.gt-xs="33" fxFlex="100"
       *ngFor="let stat of stats">
    <mat-card [ngClass]="['text-white', stat.color]">
      <mat-card-title class="f-s-14 f-w-300">{{stat.title}}</mat-card-title>
      <mat-card-content>
        <h2>{{stat.amount}}{{stat.units}}</h2>
        <mat-card-subtitle class="text-white"> <small class="text-muted">{{stat.subtitle}}</small></mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
</div>
