<!--<breadcrumb></breadcrumb>-->
<div *ngIf="!loading" class="matero-row" fxLayout="row wrap">

  <ng-container   *ngFor="let stat of stats">
    <div class="matero-col"  fxFlex.gt-sm="{{stat.type==='total' ? '50' :'25'}}" fxFlex.gt-xs="{{stat.type==='total' ? '50' :'25'}}" fxFlex="100">
      <mat-card [ngClass]="['text-white', stat.color]">
        <mat-card-title class="f-s-18 f-w-300 text-upper">{{stat.type}}</mat-card-title>
        <mat-card-content>
          <h2><i class="pi pi-dollar"></i>{{stat.total}}</h2>
          <small *ngIf="stat.type==='total'" class="text-muted">Price is calculated based on the table below and for all greenfield services</small>
          <small class="text-muted">&nbsp;</small>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>


<!--  <mat-card [ngClass]="['text-white', stat.color]">-->
<!--    <mat-card-title class="f-s-12 f-w-100">{{stat.title}}</mat-card-title>-->
<!--    <mat-card-content>-->
<!--      <h2>{{stat.amount}}</h2>-->
<!--      <mtx-progress [value]="stat.progress.value"-->
<!--                    height="2px"-->
<!--                    foreground="rgba(255,255,255,1)"-->
<!--                    background='rgba(0,0,0,.5)'>-->
<!--      </mtx-progress>-->
<!--      <small class="text-muted">Monthly</small>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->


<!--  <mat-card [ngClass]="['text-white', 'bg-green-500']">-->
<!--    <mat-card-content>-->
<!--      <h1 style="font-size: 3em"><i class="pi pi-dollar" style="font-size: 2rem"></i>{{total}}</h1>-->
<!--      <mtx-progress [value]="100"-->
<!--                    height="2px"-->
<!--                    foreground="rgba(255,255,255,1)"-->
<!--                    background='rgba(0,0,0,.5)'>-->
<!--      </mtx-progress>-->
<!--      <small class="text-muted"></small>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--  <mat-card [ngClass]="['text-white', 'bg-green-500']" >-->
<!--    <mat-card-content>-->
<!--      <h1 style="font-size: 3em"><i class="pi pi-dollar" style="font-size: 2rem"></i>{{total}}</h1>-->
<!--      <mtx-progress [value]="100"-->
<!--                    height="2px"-->
<!--                    foreground="rgba(255,255,255,1)"-->
<!--                    background='rgba(0,0,0,.5)'>-->
<!--      </mtx-progress>-->
<!--      <small class="text-muted">Price is calculated based on the table below and for all greenfield services</small>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
</div>

<div *ngIf="!loading" class="matero-row" fxLayout="row wrap">
  <div class="card">
    <h3>Cost of aris  {{arisCost.arisCode}} {{arisCost.arisName}}. Currently owned by {{arisCost.arisOwner}}</h3>
  </div>
  <div class="card">
  <p-table #dt2 [value]="entities">
    <ng-template pTemplate="caption">
      <app-table-caption-component [entities]="entities"
                                   [showExport]="true"
                                   [table]="dt2"
                                   (exportChanged)="exportChanged($event)"
                                   [showNavigation]="false"
                                   [showSearch]="false">
      </app-table-caption-component>
    </ng-template>

    <ng-template pTemplate="header">
      <tr class="text-upper">
        <th>NAME</th>
        <th>Type</th>
        <th>UNIT</th>
        <th>QUANTITY</th>
        <th>PRICE PER UNIT</th>
        <th>TOTAL</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cost>
      <tr>
        <td>{{cost.prettyName.toUpperCase()}}</td>
        <td><span class="entities-list-badge {{cost.serviceType}}">{{cost.serviceType.toUpperCase()}}</span></td>
        <td>{{cost.help}}</td>
        <td><span class="entities-list-badge quantity">{{cost.quantity}}</span></td>
        <td><i class="pi pi-dollar"></i>{{cost.pricePerUnit}}</td>
        <td><i class="pi pi-dollar"></i>{{cost.total}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">

    </ng-template>
  </p-table>
  </div>
</div>

<!--<p-orderList [value]="entities" controlsPosition="none">-->
<!--  <ng-template let-cost pTemplate="item">-->
<!--    <div>-->
<!--      {{cost | json}}-->
<!--&lt;!&ndash;      <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">&ndash;&gt;-->
<!--&lt;!&ndash;      <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{car.brand}} - {{car.year}} - {{car.color}}</div>&ndash;&gt;-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</p-orderList>-->

<!--<div class="matero-row" fxLayout="row wrap">-->
<!--  <p-splitter [style]="{'height': '300px'}" [minSizes]="[10,20]" layout="vertical">-->
<!--    <ng-template pTemplate>-->
<!--      <div class="matero-col" fxFlex="100" fxFlex.gt-sm="33"  fxFlex.gt-lg="33" fxFlex.gt-xs="33" fxFlex="100">-->
<!--        <mat-card>-->
<!--          <mat-card-subtitle>Avatar List</mat-card-subtitle>-->
<!--&lt;!&ndash;          <mat-list>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-list-item *ngFor="let message of messages">&ndash;&gt;-->
<!--&lt;!&ndash;              <img matListAvatar [src]="message.img" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;              <h3 matLine> {{message.subject}} </h3>&ndash;&gt;-->
<!--&lt;!&ndash;              <p matLine>&ndash;&gt;-->
<!--&lt;!&ndash;                <span>{{message.content}} </span>&ndash;&gt;-->
<!--&lt;!&ndash;              </p>&ndash;&gt;-->
<!--&lt;!&ndash;            </mat-list-item>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-list>&ndash;&gt;-->
<!--        </mat-card>-->
<!--      </div>-->

<!--    </ng-template>-->
<!--    <ng-template pTemplate>-->
<!--      Panel 2-->
<!--    </ng-template>-->
<!--  </p-splitter>-->

<!--</div>-->


<!--<div class="matero-col" fxFlex="100" fxFlex.gt-sm="33"  fxFlex.gt-lg="33" fxFlex.gt-xs="33" fxFlex="100"-->
<!--     *ngFor="let stat of stats">-->
<!--  <mat-card>-->
<!--    <mat-card-subtitle>Avatar List</mat-card-subtitle>-->
<!--    <mat-list>-->
  <!--      <mat-list-item *ngFor="let message of messages">-->
  <!--        <img matListAvatar [src]="message.img" alt="">-->
  <!--        <h3 matLine> {{message.subject}} </h3>-->
  <!--        <p matLine>-->
  <!--          <span>{{message.content}} </span>-->
  <!--        </p>-->
  <!--      </mat-list-item>-->
<!--    </mat-list>-->
<!--  </mat-card>-->
<!--</div>-->


<!--<mat-card>-->
<!--  <section>-->
<!--    <h2>Types of coffee (ratio-height grid list)</h2>-->
<!--    <mat-grid-list role="list" cols="2" gutterSize="4px">-->
<!--      <mat-grid-tile *ngFor="let stat of stats"  role="listitem">-->
<!--        <mat-card [ngClass]="['text-white', stat.color]">-->
<!--          <mat-card-title class="f-s-12 f-w-100">{{stat.title}}</mat-card-title>-->
<!--          <mat-card-content>-->
<!--            <h2>{{stat.amount}}</h2>-->
<!--            <mat-card-subtitle class="text-white"> <small class="text-muted">{{stat.subtitle}}</small></mat-card-subtitle>-->
<!--          </mat-card-content>-->
<!--        </mat-card>-->
<!--      </mat-grid-tile>-->
<!--    </mat-grid-list>-->
<!--  </section>-->
<!--</mat-card>-->
