<breadcrumb></breadcrumb>

<div class="matero-row" fxLayout="row wrap">
  <div class="matero-col" fxFlex="100">
    <ng-template *ngIf="loading; else loaded">
      <p-progressSpinner></p-progressSpinner>
    </ng-template>
    <ng-template #loaded>
      <app-aris-stats-component [loading]="loading" [entities]="entities"></app-aris-stats-component>
    </ng-template>
  </div>

<!--  <div class="matero-row" fxLayout="row wrap">-->
    <div class="matero-col" fxFlex="100">
      <app-aris-entity-list-component [loading]="loading" [entities]="entities"></app-aris-entity-list-component>
    </div>
    </div>
<!--  </div>-->
