<!--<breadcrumb></breadcrumb>-->
<div *ngIf="!loading" class="matero-row" fxLayout="row wrap">
<!--  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="33" fxFlex.gt-lg="33" fxFlex.gt-xs="33" fxFlex="100"-->
<!--       *ngFor="let stat of entity.usage">-->
<!--    <mat-card [ngClass]="['text-white', stat.color]">-->
<!--      <mat-card-title class="f-s-12 f-w-100">{{stat.title}}</mat-card-title>-->
<!--      <mat-card-content>-->
<!--        <h2>{{stat.amount}}</h2>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </div>-->
</div>
<mat-card class="mat-elevation-z5">
  <mat-card-header>
    <mat-card-title>London's weather</mat-card-title>
    <mat-card-subtitle>Today: July 10, 2020</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<!--<div class="matero-row" fxLayout="row wrap">-->
<!--  <p-splitter [style]="{'height': '300px'}" [minSizes]="[10,20]" layout="vertical">-->
<!--    <ng-template pTemplate>-->
<!--      <div class="matero-col" fxFlex="100" fxFlex.gt-sm="33"  fxFlex.gt-lg="33" fxFlex.gt-xs="33" fxFlex="100">-->
<!--        <mat-card>-->
<!--          <mat-card-subtitle>Avatar List</mat-card-subtitle>-->
<!--&lt;!&ndash;          <mat-list>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-list-item *ngFor="let message of messages">&ndash;&gt;-->
<!--&lt;!&ndash;              <img matListAvatar [src]="message.img" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;              <h3 matLine> {{message.subject}} </h3>&ndash;&gt;-->
<!--&lt;!&ndash;              <p matLine>&ndash;&gt;-->
<!--&lt;!&ndash;                <span>{{message.content}} </span>&ndash;&gt;-->
<!--&lt;!&ndash;              </p>&ndash;&gt;-->
<!--&lt;!&ndash;            </mat-list-item>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-list>&ndash;&gt;-->
<!--        </mat-card>-->
<!--      </div>-->

<!--    </ng-template>-->
<!--    <ng-template pTemplate>-->
<!--      Panel 2-->
<!--    </ng-template>-->
<!--  </p-splitter>-->

<!--</div>-->


<!--<div class="matero-col" fxFlex="100" fxFlex.gt-sm="33"  fxFlex.gt-lg="33" fxFlex.gt-xs="33" fxFlex="100"-->
<!--     *ngFor="let stat of stats">-->
<!--  <mat-card>-->
<!--    <mat-card-subtitle>Avatar List</mat-card-subtitle>-->
<!--    <mat-list>-->
<!--      <mat-list-item *ngFor="let message of messages">-->
<!--        <img matListAvatar [src]="message.img" alt="">-->
<!--        <h3 matLine> {{message.subject}} </h3>-->
<!--        <p matLine>-->
<!--          <span>{{message.content}} </span>-->
<!--        </p>-->
<!--      </mat-list-item>-->
<!--    </mat-list>-->
<!--  </mat-card>-->
<!--</div>-->


<!--<mat-card>-->
<!--  <section>-->
<!--    <h2>Types of coffee (ratio-height grid list)</h2>-->
<!--    <mat-grid-list role="list" cols="2" gutterSize="4px">-->
<!--      <mat-grid-tile *ngFor="let stat of stats"  role="listitem">-->
<!--        <mat-card [ngClass]="['text-white', stat.color]">-->
<!--          <mat-card-title class="f-s-12 f-w-100">{{stat.title}}</mat-card-title>-->
<!--          <mat-card-content>-->
<!--            <h2>{{stat.amount}}</h2>-->
<!--            <mat-card-subtitle class="text-white"> <small class="text-muted">{{stat.subtitle}}</small></mat-card-subtitle>-->
<!--          </mat-card-content>-->
<!--        </mat-card>-->
<!--      </mat-grid-tile>-->
<!--    </mat-grid-list>-->
<!--  </section>-->
<!--</mat-card>-->
