<div class="matero-row" fxFlex.gt-sm="50" fxFlex="100">
<!--    <div class="matero-col" fxFlex.gt-sm="33" fxFlex="100">-->
<!--    </div>-->
<!--    <mat-grid-list role="list" cols="2" [rowHeight]="40" gutterSize="4px">-->
<!--      <mat-grid-tile  role="listitem">-->
<!--        <mat-card class="demo-card">-->
<!--          Aris - {{entity.system_aris_title}} - {{entity.system_aris_description}}-->
<!--        </mat-card>-->
<!--      </mat-grid-tile>-->
<!--      <mat-grid-tile  role="listitem">-->
<!--        <app-service-domain-clusters-card-component [entity]="entity"></app-service-domain-clusters-card-component>-->
<!--      </mat-grid-tile>-->
<!--    </mat-grid-list>-->
  <div class="matero-col" fxFlex="100">
    <section>
      <mat-card [ngClass]="['text-white', 'bg-gray-600']">
        <mat-card-subtitle>Aris details</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item role="listitem">
            <h3 mat-line> {{entity.system_aris_title}} - {{entity.system_aris_description}} </h3>
            <!--      <p mat-line class="demo-secondary-text"> {{cluster}} </p>-->
          </mat-list-item>
        </mat-list>
      </mat-card>
    </section>
    <section>
      <mat-card [ngClass]="['text-white', 'bg-gray-600']">
        <mat-card-subtitle>Aris details</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item role="listitem" *ngFor="let g of entity.groups">
            <h3 mat-line> {{g}} </h3>
<!--                  <p mat-line class="demo-secondary-text"> {{cluster}} </p>-->
          </mat-list-item>
        </mat-list>
      </mat-card>
    </section>
  </div>
  <div class="matero-col" fxFlex.gt-sm="33" fxFlex="100">
    <app-service-domain-clusters-card-component [entity]="entity"></app-service-domain-clusters-card-component>
  </div>
  <div class="matero-col" fxFlex.gt-sm="33" fxFlex="100">
    <app-service-domain-links-card-component [entity]="entity"></app-service-domain-links-card-component>

  </div>
</div>

