<div class="card">
  <h3>Service Domainsz</h3>
</div>
<div class="card">
  <p-table #dt2 [value]="entities" dataKey="domain_name"
           [rows]="10"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[10,25,50]"
           [loading]="loading" styleClass="p-datatable-s"
           [paginator]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entities"
           [globalFilterFields]="getFilters()">

    <ng-template pTemplate="caption">
      <app-table-caption-component [entities]="entities"
                                   [showExport]="true"
                                   [table]="dt2"
                                   (navChanged)="navChanged($event)"
                                   (exportChanged)="exportChanged($event)"
                                   [showNavigation]="true"
                                   [showSearch]="true">
      </app-table-caption-component>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"></th>
        <th pSortableColumn="domain_name">Name
          <p-sortIcon field="domain_name"></p-sortIcon>
        </th>
        <th pSortableColumn="owner_email">Owner
          <p-sortIcon field="owner_email"></p-sortIcon>
        </th>
        <th pSortableColumn="group_email">Group Email
          <p-sortIcon field="group_email"></p-sortIcon>
        </th>
        <th pSortableColumn="system_aris">Aris
          <p-sortIcon field="system_aris"></p-sortIcon>
        </th>
        <th># Namespaces</th>
        <th># Clusters</th>
        <th># Repositories</th>
<!--        <th pSortableColumn="code">Code-->
<!--          <p-sortIcon field="code"></p-sortIcon>-->
<!--        </th>-->
<!--        <th pSortableColumn="title">Title-->
<!--          <p-sortIcon field="title"></p-sortIcon>-->
<!--        </th>-->
<!--        <th pSortableColumn="owner">Owner-->
<!--          <p-sortIcon field="owner"></p-sortIcon>-->
<!--        </th>-->
<!--        <th># Namespaces</th>-->
<!--        <th># Deployments</th>-->
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entity let-expanded="expanded">
      <tr>
        <td>
          <button type="button" pButton pRipple [pRowToggler]="entity"
                  class="p-button-text p-button-rounded p-button-plain"
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td>{{entity.domain_name}}</td>
        <td><a [attr.href]="'mailto:' + entity.owner_email">{{entity.owner_name === null  || entity.owner_name === undefined ? entity.owner_email : entity.owner_name}}</a></td>
        <td>{{entity.group_email}}</td>
        <td><span class="entities-list-badge aris">{{entity.system_aris}} {{entity.system_name_aris}}</span></td>
        <td>{{entity.namespaces?.length}}</td>
        <td>{{entity.clusters?.length}}</td>
        <td>{{entity.repos?.length}}</td>
<!--        <td>{{entity.code}}</td>-->
<!--        <td>{{entity.title}}</td>-->
<!--        <td> {{entity.owner_name}} <a [attr.href]="'mailto:' + entity.owner_email">-->
<!--          <i class="pi pi-envelope"></i></a></td>-->
<!--        <td><span class="entities-list-badge names">{{entity.service_domains.names | length}}</span></td>-->
<!--        <td><span class="entities-list-badge deployments">{{entity.service_domains?.deployments | length}}</span></td>-->
        <td>
          <button type="button" pButton pRipple [pRowToggler]="entity"
                  [matTooltip]="'Show service usage'"
                  class="p-button-text p-button-rounded text-white p-button-plain"
                  [icon]="'pi pi-heart'"></button>

          <button pButton
                pRipple
                type="button"
                [matTooltip]="'Go to pricing'"
                (click)="goToPricing(entity)"
                icon="pi pi-dollar"
                class="p-button-text p-button-rounded text-white p-button-plain"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9">No Entity found.</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-entity>
      <tr>
        <td colspan="8">
          <app-service-domain-row-info-component [entity]="entity"></app-service-domain-row-info-component>
        </td>
      </tr>
    </ng-template>
    <!-- @TODO add cpu/mem/storage summary for the selected servers -->
    <!--    <ng-template pTemplate="summary">-->
    <!--          {{cpu}}-->
    <!--          found {{servers?.length}} servers-->
    <!--    </ng-template>-->
  </p-table>
</div>
