<div class="matero-row" fxFlex.gt-sm="50" fxFlex="100">
  <div class="matero-col" fxFlex.gt-sm="33" fxFlex="100">
    <app-service-domain-clusters-card-component [entity]="entity"></app-service-domain-clusters-card-component>
  </div>
  <div class="matero-col" fxFlex.gt-sm="33" fxFlex="100">

<!--    <mat-card>-->
<!--      <mat-card-subtitle>Avatar List</mat-card-subtitle>-->
<!--      <mat-list>-->
<!--        <mat-list-item *ngFor="let message of MESSAGES">-->
<!--          <img matListAvatar [src]="message.img" alt="">-->
<!--          <h3 matLine> {{message.subject}} </h3>-->
<!--          <p matLine>-->
<!--            <span>{{message.content}} </span>-->
<!--          </p>-->
<!--        </mat-list-item>-->
<!--      </mat-list>-->
<!--    </mat-card>-->
  </div>
</div>

