<breadcrumb></breadcrumb>
<style>
  .p-sortable-column:hover{
    background: none !important;
  }
</style>
<div class="matero-row" fxLayout="row wrap">
  <div class="matero-col" fxFlex="100">

    <ng-template *ngIf="loading; else loaded">
      <p-progressSpinner></p-progressSpinner>
    </ng-template>
    <ng-template #loaded>
      <app-service-domains-stats-component [entities]="entities"></app-service-domains-stats-component>
    </ng-template>
  </div>

  <!--  <div class="matero-row" fxLayout="row wrap">-->
  <div class="matero-col" fxFlex="100">
    <app-service-domains-entity-list-component [loading]="loading" [entities]="entities"></app-service-domains-entity-list-component>
  </div>
</div>
<!--  </div>-->
