<breadcrumb></breadcrumb>

<div class="matero-row" fxLayout="row wrap">
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-lg="50" fxFlex.gt-xs="50" fxFlex="100">
    <app-domain-details-alerts-component></app-domain-details-alerts-component>
  </div>
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-lg="50" fxFlex.gt-xs="50" fxFlex="100">
    <app-domain-details-uptime-component></app-domain-details-uptime-component>
  </div>
</div>

<div class="matero-row" fxLayout="row wrap">
  <div class="matero-col" fxFlex="100" >
    <app-domain-details-events-component></app-domain-details-events-component>
  </div>
</div>

<div class="matero-row" fxLayout="row wrap">
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="33"  fxFlex="100">
    <app-domain-details-network-component></app-domain-details-network-component>
  </div>

  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="33"  fxFlex="100">
      there's space here
  </div>
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="33"  fxFlex="100">
      there's space here too
  </div>
</div>
