<div class="info-container">
  <div class="info-container-cube">
    <div class="info-container-cube-subject">Service Owner</div>
    <div class="info-container-cube-image">
      <div class="info-container-cube-label">
        <mat-list>
          <mat-list-item style="height: 28px">
            <i class="pi pi-user"></i><span
            title="{{owner.name}}">{{owner.name}}</span>
          </mat-list-item>
          <!--          <mat-list-item style="height: 28px" *ngFor="let group of entity.groups">-->
          <!--            <i  class="pi pi-group"></i>-->
          <!--            <span>{{group}}</span>-->
          <!--          </mat-list-item>-->
        </mat-list>
      </div>
    </div>
    <div class="info-container-cube-subject">DEPLOYED ON</div>
    <div class="info-container-cube-image">
      <div class="info-container-cube-label">
        <mat-list>
          <mat-list-item style="height: 28px" *ngFor="let env of getEnvs(entity)">
            <i class="pi pi-cloud"></i>
            <span class="p-l-3 text-upper">{{env}}</span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

  </div>
  <!--    <div class="MsgQKxooFxrZS71tsaPff">-->
  <!--        <div class="info-container-cube-subject">Mapping URLs</div>-->
  <!--        <div title="/something/" class="_1BW8HtlADMjMVMkvNewsY_"><span>/something/</span></div>-->
  <!--    </div>-->
  <!--    <div class="_2ox-N8ZAkggw39J0qi0RMi">-->
  <!--        <div class="info-container-cube-subject">Versions</div>-->
  <!--        <div title="version:1.0" class="x83iaHZAhbyhTTTOuUvWH _1OGzuJuZVID2MmvaImHeW2"><span>version:1.0</span></div>-->
  <!--    </div>-->
  <div class="info-container-service-description">
    <div class="info-container-service-description-cube">
      <div class="info-container-cube-subject">Service description</div>
      {{entity.system_aris_title + '-' + entity.system_aris_description}}
      <div class="info-container-cube-subject">Labels</div>
      <div class="info-container-service-lables">
        <div class="">
          <mat-chip-list>
            <mat-chip style="border-radius: 0" color="accent" selected="true">{{entity.system_name_aris}}</mat-chip>
          </mat-chip-list>
          <!--          <p-tag styleClass="p-mr-2" severity="success" value="{{entity.system_name_aris}}"></p-tag>-->
        </div>
      </div>
    </div>
  </div>
  <div class="info-container-service-repository">
    <div class="info-container-cube-subject">LDAP Groups</div>
    <!--    <div class="info-container-service-repository-links">-->
    <!--      <button mat-button color="accent" (click)="openNetworkPolicySheet(entity.domain_name)">-->
    <!--        <mat-icon class="icon-30">http</mat-icon>-->
    <!--        Network policy-->
    <!--      </button>-->
    <!--    </div>-->
    <!--    <div class="info-container-service-repository-links">-->
    <!--      &lt;!&ndash;      <div class="info-container-cube-label"><i  class="pi pi-user"></i><span&ndash;&gt;-->
    <!--      &lt;!&ndash;        title="{{entity.owner_name}}">{{entity.owner_name}}</span>&ndash;&gt;-->
    <!--      &lt;!&ndash;      </div>&ndash;&gt;-->

    <div class="info-container-cube-label">
      <mat-list>
        <mat-list-item style="height: 28px" *ngFor="let group of entity.groups">
          <i class="pi pi-group"></i>
          <span>{{group}}</span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="info-container-service-depends-on">
    <div class="info-container-cube-subject">Depends on</div>
    <div class="info-container-service-repository-links">
      <button mat-button color="accent" (click)="openNetworkPolicySheet(entity.domain_name)">
        <mat-icon class="icon-30">http</mat-icon>
        Network policy
      </button>
    </div>
    <div class="info-container-service-repository-links">
      <button mat-button color="accent" (click)="openQuotaSheet(entity.domain_name)">
        <mat-icon class="icon-22">storage</mat-icon>
        Quota
      </button>
    </div>
  </div>
</div>

<service-domain-row-info-links-component [entity]="entity"></service-domain-row-info-links-component>
