<div class="card">
  <h3>Infra gate events</h3>
</div>
<div class="card">

  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <!--      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="newServer()"  ></button>-->
      <!--      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>-->
    </ng-template>

    <ng-template pTemplate="right">
      <!--      <button type="button" pButton pRipple icon="pi pi-chart-bar"  (click)="()" class="p-mr-2" pTooltip="Blackbox Dashboard"-->
      <!--              tooltipPosition="bottom"></button> &nbsp;-->
      <!--        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"-->
      <!--                class="p-button-success p-mr-2"  pTooltip="Export to XLS" tooltipPosition="bottom"></button> &nbsp;-->
    </ng-template>
  </p-toolbar>


  <p-table #dt2 [value]="entities" dataKey="hostname"
           [(first)]="first"
           [rows]="10"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[10,25,50]"
           [loading]="loading" styleClass="p-datatable-s"
           [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [globalFilterFields]="getFilters()">
    <ng-template pTemplate="caption">
      <app-table-caption-component [entities]="entities"
                                   [showExport]="false"
                                   [table]="dt2"
                                   (navChanged)="navChanged($event)"
                                   (exportChanged)="exportChanged($event)"
                                   [showNavigation]="true"
                                   [showSearch]="true">
      </app-table-caption-component>
    </ng-template>
<!--    kind:string;-->
<!--    status:string;-->
<!--    payload:EventPayload;-->
<!--    clusters:string[];-->
<!--    submitted:string;-->
<!--    finished:string;-->
<!--    error_code:string;-->
<!--    message:EventMessage;-->
<!--    started:string;-->
    <ng-template pTemplate="header">
      <tr class="text-upper">
        <th pSortableColumn="service_domain">Service Domain
          <p-sortIcon field="service_domain"></p-sortIcon>
        </th>
        <th pSortableColumn="kind">Kind
          <p-sortIcon field="kind"></p-sortIcon>
        </th>
        <th>Status</th>
        <th pSortableColumn="started">Started
          <p-sortIcon field="started"></p-sortIcon>
        </th>
        <th>Finished</th>
        <th>Message</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entity>
      <tr>
        <td>
          {{entity.payload.service_domain}}
        </td>
        <td>
          {{entity.kind | asEventKind}}
        </td>
        <td><span class="entities-list-badge {{entity.status}}">{{entity.status}}</span></td>
        <td>
          {{entity.started}}
        </td>
        <td>
          {{entity.finished}}
        </td>
        <td>
          {{entity.message.text}}
        </td>
        <td>
          <button pButton
                  pRipple
                  type="button"
                  [matTooltip]="'Explore payload for ' + entity.kind  | asEventKind"
                  (click)="openPayload(entity)"
                  icon="pi pi-eye"
                  class="p-button-text p-button-rounded text-white p-button-plain"></button>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">No entities found.</td>
      </tr>
    </ng-template>
    <!-- @TODO add cpu/mem/storage summary for the selected entitys -->
    <!--    <ng-template pTemplate="summary">-->
    <!--      found {{entities?.length}} entities-->
    <!--    </ng-template>-->
  </p-table>


  <p-dialog header="Title" [style]="{width: '50vw'}" [baseZIndex]="10000" [(visible)]="showPayload">
    <ngx-json-viewer [json]="currentEntity"></ngx-json-viewer>

  </p-dialog>
</div>
