<div class="card">
  <h3>Brownfield service catalog</h3>
</div>
<div class="card">

    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
<!--        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" ></button>-->
  <!--      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>-->
      </ng-template>

      <ng-template pTemplate="right">
        <button type="button" pButton icon="pi pi-chart-bar"  (click)="goToBlackboxDashboard()" class="p-button-success p-button-outlined p-mr-2" pTooltip="Blackbox Dashboard"
                tooltipPosition="bottom"></button> &nbsp;

        <button pButton type="button" label="Git Repo" (click)="goToRepo()"  class="p-button-success p-button-outlined"></button>

      </ng-template>
    </p-toolbar>


  <p-table #dt2 [value]="entities" dataKey="id"
           [(first)]="first"
           [rows]="10"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[10,25,50]"
           [loading]="loading" styleClass="p-datatable-s"
           [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [globalFilterFields]="getFilters()">
    <ng-template pTemplate="caption">
      <app-table-caption-component [entities]="entities"
                                   [showExport]="false"
                                   [table]="dt2"
                                   (navChanged)="navChanged($event)"
                                   (exportChanged)="exportChanged($event)"
                                   [showNavigation]="true"
                                   [showSearch]="true">
      </app-table-caption-component>
    </ng-template>

    <ng-template pTemplate="header">
      <tr class="text-upper">

        <th pSortableColumn="name">NAME
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="description">Description
          <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="environment">Env
          <p-sortIcon field="environment"></p-sortIcon>
        </th>
        <th pSortableColumn="ips">ips
          <p-sortIcon field="ips"></p-sortIcon>
        </th>
        <th pSortableColumn="port">PORT
          <p-sortIcon field="port"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entity>
      <tr>
        <td>{{entity.name}}</td>
        <td>{{entity.description}}</td>
        <td><span class="entities-list-badge" [ngClass]="entity.environment">{{entity.environment.toUpperCase()}}</span></td>
        <td>{{entity.ips}}</td>
        <td>{{entity.port}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No entities found.</td>
      </tr>
    </ng-template>
    <!-- @TODO add cpu/mem/storage summary for the selected entitys -->
<!--    <ng-template pTemplate="summary">-->
<!--      found {{entities?.length}} entities-->
<!--    </ng-template>-->
  </p-table>
</div>
