<div class="card">
  <h3>DevOps infrastructure, by CloudVision</h3>
</div>
<div class="card">

  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button matRipple mat-button color="accent" (click)="newServer()">
        <mat-icon>add</mat-icon>New
      </button>
      <button matRipple mat-button color="accent" (click)="openPlot()">
        <mat-icon>pie_chart</mat-icon>Plot
      </button>
      <!--      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="newServer()"  ></button>-->
      <!--      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>-->
    </ng-template>

    <ng-template pTemplate="right">
      <!--      <button type="button" pButton pRipple icon="pi pi-chart-bar"  (click)="()" class="p-mr-2" pTooltip="Blackbox Dashboard"-->
      <!--              tooltipPosition="bottom"></button> &nbsp;-->
      <!--        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"-->
      <!--                class="p-button-success p-mr-2"  pTooltip="Export to XLS" tooltipPosition="bottom"></button> &nbsp;-->
    </ng-template>
  </p-toolbar>


  <p-table #dt2 [value]="entities" dataKey="hostname"
           [(first)]="first"
           [rows]="10"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[10,25,50]"
           [loading]="loading" styleClass="p-datatable-s"
           [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [globalFilterFields]="getFilters()">
    <ng-template pTemplate="caption">
      <app-table-caption-component [entities]="entities"
                                   [showExport]="false"
                                   [table]="dt2"
                                   (navChanged)="navChanged($event)"
                                   (exportChanged)="exportChanged($event)"
                                   [showNavigation]="true"
                                   [showSearch]="true">
      </app-table-caption-component>
    </ng-template>

    <ng-template pTemplate="header">
      <tr class="text-upper">
        <th pSortableColumn="hostname">Hostname
          <p-sortIcon field="hostname"></p-sortIcon>
        </th>
        <th pSortableColumn="ipaddress">IP
          <p-sortIcon field="ipaddress"></p-sortIcon>
        </th>
        <th pSortableColumn="group">Group
          <p-sortIcon field="group"></p-sortIcon>
        </th>
        <th pSortableColumn="cpu">CPU
          <p-sortIcon field="cpu"></p-sortIcon>
        </th>
        <th pSortableColumn="mem">Memory
          <p-sortIcon field="mem"></p-sortIcon>
        </th>
        <th pSortableColumn="storage">Storage
          <p-sortIcon field="storage"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entity>
      <tr>
        <td>
          {{entity.hostname}}
        </td>
        <td>
          {{entity.ipaddress}}
        </td>
        <td><span class="entities-list-badge" [ngClass]="entity.group.toLowerCase()">{{entity.group}}</span></td>
        <td><span class="entities-list-badge cpu">{{entity.cpu}}</span></td>
        <td><span class="entities-list-badge memory">{{entity.mem}}</span></td>
        <td><span class="entities-list-badge storage">{{entity.storage}}</span></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">No entities found.</td>
      </tr>
    </ng-template>
    <!-- @TODO add cpu/mem/storage summary for the selected entitys -->
    <!--    <ng-template pTemplate="summary">-->
    <!--      found {{entities?.length}} entities-->
    <!--    </ng-template>-->
  </p-table>
</div>
