<breadcrumb></breadcrumb>

<div class="matero-row" fxLayout="row wrap">
  <div class="matero-col" fxFlex="100">

    <ng-template *ngIf="loading; else loaded">
      <p-progressSpinner></p-progressSpinner>
    </ng-template>
    <ng-template #loaded>
      <app-servers-stats-component [entities]="entities"></app-servers-stats-component>
    </ng-template>
  </div>

  <!--  <div class="matero-row" fxLayout="row wrap">-->
  <div class="matero-col" fxFlex="100">
    <app-servers-list-component [loading]="loading" [entities]="entities"></app-servers-list-component>
  </div>
</div>
<!--  </div>-->
