.cpu {
  background: #3F51B5;
  color: white;
}

.memory {
  background: #2196F3;
  color: white;
}

.storage {
  background: #FF9800;
  color: white;
}

.kubernetes {
  background: #33691E;
  color: white;
}

.artifactory {
  background: #827717;
  color: white;
}

.jenkins {
  background: #3E2723;
  color: white;
}

.atlassian {
  background: #E65100;
  color: white;
}
