/* You can add global styles to this file, and also import other style files */
@import 'app/theme/style';
@import 'styles/themes';
@import 'styles/custom';
@import 'styles/grid';
@import 'styles/helpers';
@import 'styles/plugins';

.p-datatable .p-sortable-column:not(.p-highlight):hover {
  background: none !important;
}

.p-datatable .p-sortable-column.p-highlight:hover {
  background: none !important;
}

.card-list-icon {
  width: 20px !important;
  height: 20px !important;;
}

.p-tooltip {
  background: #424242;

}

.p-paginator {
  background: #424242;
}

.p-paginator .p-paginator-current {
  //color: bg-orange-500;
}

//.p-component, .p-component * {
//  background: #424242;
//}


.p-datatable .p-datatable-tbody > tr > td {
  background: #424242;
}

.p-datatable-tbody {
  background: #424242;
}

.p-datatable .p-datatable-thead > tr > th {
  //border: 1px solid #838d9a;
  background: #424242;
}

.p-datatable .p-datatable-header {
  background: #424242 !important;
}

.p-datatable .p-datatable-footer {
  background: #424242 !important;
}

.p-datatable .p-datatable-thead > tr > th {
  background: #424242 !important;
}

.entities-list-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  color: white;

}

.text-upper {
  text-transform: uppercase;
}

.entities-list-badge.cpu {
  background: #3F51B5;
}


.entities-list-badge.aris {
  background: #3F51B5;
}

.entities-list-badge.memory {
  background: #2196F3;
}

.entities-list-badge.storage {
  background: #FF9800;
}

.entities-list-badge.kubernetes {
  background: #33691E;
}

.entities-list-badge.artifactory {
  background: #827717;
}

.entities-list-badge.quantity {
  background: #33691E;
}

.entities-list-badge.price-per-unit {
  background: #FF9800;
}

.entities-list-badge.jenkins {
  background: #3E2723;
}

.entities-list-badge.hardware {
  background: #3E2723;
}

.entities-list-badge.software {
  background: #FF9800;
}

.entities-list-badge.atlassian {
  background: #E65100;
}

.entities-list-badge.deployments {
  background: #2196F3;
}

.entities-list-badge.names {
  background: #FF9800;
}

//
//.p-datatable .p-sortable-column.p-highlight:hover {
//  background: none !important;
//}
//.p-datatable .p-sortable-column:not(.p-highlight):hover{
//  background: none !important;
//}
