<section>
  <mat-card [ngClass]="['text-white', 'bg-gray-600']">
      <mat-card-title>{{getCardHeader()}}</mat-card-title>
      <mat-card-subtitle>{{getCardHeader()}}</mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item role="listitem" *ngFor="let cluster of entity.clusters">
          <img class="card-list-icon" mat-list-avatar src="assets/images/logos/ocp.svg" [alt]="cluster">
          <h3 mat-line> <a class="text-white" target="_blank" [attr.href]="asLink(cluster)"> {{cluster}} </a></h3>
          <!--      <p mat-line class="demo-secondary-text"> {{cluster}} </p>-->
        </mat-list-item>
      </mat-list>
    </mat-card>
</section>
